<form id="weatherForm" ng-controller="WeatherCtrl">

  <!-- for input -->
  <div class="panel panel-info">
    <!-- panel-heading -->
    <div class="panel-heading">
      <h3 class="panel-title">
        This application shows weather for user-selected cities.
      </h3>
    </div>

    <!-- panel-body -->
    <div class="panel-body">
      <label for="citiesText" class="label label-default">Please enter semi-colon separated city names</label>
      <p />
      <div class="input-group">
        <input id="citiesText" type="text" class="form-control" placeholder="Semi-colon separated city names" ng-model="data.delimiterSeparatedCities" required />
        <span class="input-group-btn">
          <button class="btn btn-success" type="button" ng-click="getWeather()" ng-disabled="!isModelValid()">Go!</button>
        </span>
      </div>
    </div>
  </div>

  <!-- for errors -->
  <div class="panel panel-danger" ng-show="data.isError">
    <div class="panel-heading">
      <span>Errors</span>
    </div>
    <div class="panel-body">
      <ul>
        <li ng-repeat="error in data.errors">
          {{error}}
        </li>
      </ul>
    </div>
  </div>

  <!-- for output -->
  <div ng-repeat="weatherData in data.weathers">
    <div class="panel panel-success">
      <div class="panel-heading">
        <span class="glyphicon glyphicon-tree-deciduous">{{weatherData.city.name}}, {{weatherData.city.country}}</span>
      </div>

      <div class="panel-body">
        <p>Here's the weather data for {{weatherData.city.name}}</p>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th rowspan="2" style="text-align:center;">Date</th>
            <th colspan="2" style="text-align:center;">Weather</th>
            <th colspan="6" style="text-align:center;">Temperature</th>
          </tr>
          <tr>
            <th>Main</th>
            <th>Description</th>
            <th>Day</th>
            <th>Min</th>
            <th>Max</th>
            <th>Mor.</th>
            <th>Eve.</th>
            <th>Night</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in weatherData.list">
            <!--<td>{{item.dt | date:'dd-MMM-yyyy' }}</td>-->
            <td>{{item.dt}}</td>
            <td>{{item.weather[0].main}}</td>
            <td>{{item.weather[0].description}}</td>
            <td>{{item.temp.day}}</td>
            <td>{{item.temp.min}}</td>
            <td>{{item.temp.max}}</td>
            <td>{{item.temp.morn}}</td>
            <td>{{item.temp.eve}}</td>
            <td>{{item.temp.night}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</form>
